
# Getting started

Once you've chosen your scenario, download the data from the Iowa website in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [25]:
import pandas as pd
import dateutil
import numpy as np
import sklearn.metrics as metrics
import sklearn.linear_model as linear_model
import statsmodels.api as sm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('C:\\Users\\Jake\\Documents\\ga_home\\project-2\\code/Iowa_Liquor_sales_sample_10pct.csv')

In [26]:
df.shape
#There are 270955 rows and 18 columns

(270955, 18)

In [27]:
df.columns
# Seeing what columns are included

Index(['Date', 'Store Number', 'City', 'Zip Code', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Item Number',
       'Item Description', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [28]:
df.dtypes.head()
# Checking out the types here.

Date              object
Store Number       int64
City              object
Zip Code          object
County Number    float64
dtype: object

In [29]:
df.info()
# There appear to be nulls in County Number, County, Category, Category Name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

In [30]:
df.describe()
# Describes the numeric values and their descritpive statistics
# Store Number, County Number, Category, Vendor Number,  Item Number (not really relevant)

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),Bottles Sold,Volume Sold (Liters),Volume Sold (Gallons)
count,270955.000000,269878.000000,2.708870e+05,270955.00000,270955.000000,270955.000000,270955.000000,270955.000000,270955.000000
mean,3590.263701,57.231642,1.043888e+06,256.43443,45974.963300,924.830341,9.871285,8.981351,2.372830
std,947.662050,27.341205,5.018211e+04,141.01489,52757.043086,493.088489,24.040912,28.913690,7.638182
min,2106.000000,1.000000,1.011100e+06,10.00000,168.000000,50.000000,1.000000,0.100000,0.030000
25%,2604.000000,31.000000,1.012200e+06,115.00000,26827.000000,750.000000,2.000000,1.500000,0.400000
50%,3722.000000,62.000000,1.031200e+06,260.00000,38176.000000,750.000000,6.000000,5.250000,1.390000
75%,4378.000000,77.000000,1.062310e+06,380.00000,64573.000000,1000.000000,12.000000,10.500000,2.770000
max,9023.000000,99.000000,1.701100e+06,978.00000,995507.000000,6000.000000,2508.000000,2508.000000,662.540000

In [31]:
df.describe(include=['object'])
#describes the non-numeric velues

,Date,City,Zip Code,County,Category Name,Item Description,State Bottle Cost,State Bottle Retail,Sale (Dollars)
count,270955,270955,270955,269878,270323,270955,270955,270955,270955
unique,274,385,415,99,71,2173,1086,1112,6580
top,12/1/2015,DES MOINES,50010,Polk,VODKA 80 PROOF,Black Velvet,$8.25,$12.38,$162.00
freq,1555,23724,7091,49102,35373,7233,6160,6160,3482

In [32]:
df['Date'].head(50)

0      11/4/2015
1       3/2/2016
2      2/11/2016
3       2/3/2016
4      8/18/2015
5      4/20/2015
6       8/5/2015
7      6/25/2015
8       1/4/2016
9     11/10/2015
10     9/28/2015
11    10/28/2015
12     1/22/2015
13     2/29/2016
14      1/4/2016
15     6/10/2015
16     2/25/2016
17    12/29/2015
18    12/26/2015
19      3/4/2015
20     1/16/2015
21     1/13/2015
22     3/24/2015
23    11/12/2015
24     3/14/2016
25      2/3/2015
26    11/23/2015
27     4/21/2015
28     12/1/2015
29     1/14/2015
30      4/1/2015
31     1/12/2015
32     1/16/2015
33     1/13/2015
34     6/29/2015
35      4/2/2015
36     4/20/2015
37      6/3/2015
38     1/27/2016
39      3/7/2016
40     3/31/2015
41     2/23/2015
42    10/21/2015
43    10/28/2015
44     1/28/2016
45     4/14/2015
46      8/6/2015
47     6/29/2015
48     1/27/2016
49     1/26/2015
Name: Date, dtype: object

In [33]:
# Creating new columns with the year broken out
df['year'] = pd.DatetimeIndex(df['Date']).year

In [34]:
df['year'].value_counts()

2015    218594
2016     52361
Name: year, dtype: int64

In [35]:
# Creating new columns with the month broken out
df['month'] = pd.DatetimeIndex(df['Date']).month

In [36]:
#I'm using this code to remove the dollar signs and the commas from the curreny
# columns
df['State Bottle Cost'] = df['State Bottle Cost'].str.replace(',','')
df['State Bottle Cost'] = df['State Bottle Cost'].str.replace('$','')
df['State Bottle Retail'] = df['State Bottle Retail'].str.replace(',','')
df['State Bottle Retail'] = df['State Bottle Retail'].str.replace('$','')
df['Sale (Dollars)'] = df['Sale (Dollars)'].str.replace(',','')
df['Sale (Dollars)'] = df['Sale (Dollars)'].str.replace('$','')
df['State Bottle Cost'] = df['State Bottle Cost'].astype('float')
df['State Bottle Retail'] = df['State Bottle Retail'].astype('float')
df['Sale (Dollars)'] = df['Sale (Dollars)'].astype('float')

In [37]:
df['month'].groupby(df['year']).sum()

year
2015    1469046
2016     108211
Name: month, dtype: int64

In [38]:
df.groupby(['year','month'])['Sale (Dollars)'].sum()

year  month
2015  1        1858000.63
      2        2037903.48
      3        2257891.78
      4        2302566.62
      5        2259716.10
      6        2754960.95
      7        2175922.14
      8        2164753.72
      9        2387918.92
      10       2810088.85
      11       2460865.60
      12       3056656.60
2016  1        1880583.53
      2        2214465.01
      3        2304449.02
Name: Sale (Dollars), dtype: float64

In [39]:
df['month_year'] =  df['year'].astype('str')+"-"+ df['month'].astype('str')
df['month_year']
#df['Sale (Dollars)'] = df['Sale (Dollars)'].astype('float')

0         2015-11
1          2016-3
2          2016-2
3          2016-2
4          2015-8
5          2015-4
6          2015-8
7          2015-6
8          2016-1
9         2015-11
10         2015-9
11        2015-10
12         2015-1
13         2016-2
14         2016-1
15         2015-6
16         2016-2
17        2015-12
18        2015-12
19         2015-3
20         2015-1
21         2015-1
22         2015-3
23        2015-11
24         2016-3
25         2015-2
26        2015-11
27         2015-4
28        2015-12
29         2015-1
           ...
270925     2015-1
270926    2015-12
270927     2015-8
270928    2015-10
270929     2016-1
270930    2015-10
270931     2015-5
270932     2015-6
270933     2015-2
270934     2015-3
270935     2015-6
270936     2015-3
270937     2015-1
270938     2015-4
270939     2015-5
270940     2015-1
270941     2015-2
270942     2015-6
270943    2015-10
270944     2016-3
270945     2015-6
270946    2015-11
270947     2015-5
270948     2015-4
270949     2015-7
270950    2015-12
270951    2015-11
270952    2015-10
270953    2015-11
270954     2015-1
Name: month_year, Length: 270955, dtype: object

In [40]:
"""def label_quarter (row):
    if row['month_year'] == '2015-1' :
        return '2015_Q1'
    if row['month_year'] == '2015-2' :
        return '2015_Q1'
    if row['month_year'] == '2015-3' :
        return '2015_Q1'
    if row['month_year'] == '2015-4' :
        return '2015_Q2'
    if row['month_year'] == '2015-5' :
        return '2015_Q2'
    if row['month_year'] == '2015-6' :
        return '2015_Q2'
    if row['month_year'] == '2015-7' :
        return '2015_Q3'
    if row['month_year'] == '2015-8' :
        return '2015_Q3'
    if row['month_year'] == '2015-9' :
        return '2015_Q3'
    if row['month_year'] == '2015-10' :
        return '2015_Q4'
    if row['month_year'] == '2015-11' :
        return '2015_Q4'
    if row['month_year'] == '2015-12' :
        return '2015_Q4'
    if row['month_year'] == '2016-1' :
        return '2016_Q1'
    if row['month_year'] == '2016-2' :
        return '2016_Q1'
    if row['month_year'] == '2016-3' :
        return '2016_Q1'
    return 'Other'
df.apply (lambda row: label_quarter (row),axis=1)"""

"def label_quarter (row):\n    if row['month_year'] == '2015-1' :\n        return '2015_Q1'\n    if row['month_year'] == '2015-2' :\n        return '2015_Q1'\n    if row['month_year'] == '2015-3' :\n        return '2015_Q1'\n    if row['month_year'] == '2015-4' :\n        return '2015_Q2'\n    if row['month_year'] == '2015-5' :\n        return '2015_Q2'\n    if row['month_year'] == '2015-6' :\n        return '2015_Q2'\n    if row['month_year'] == '2015-7' :\n        return '2015_Q3'\n    if row['month_year'] == '2015-8' :\n        return '2015_Q3'\n    if row['month_year'] == '2015-9' :\n        return '2015_Q3'\n    if row['month_year'] == '2015-10' :\n        return '2015_Q4'\n    if row['month_year'] == '2015-11' :\n        return '2015_Q4'\n    if row['month_year'] == '2015-12' :\n        return '2015_Q4'\n    if row['month_year'] == '2016-1' :\n        return '2016_Q1'\n    if row['month_year'] == '2016-2' :\n        return '2016_Q1'\n    if row['month_year'] == '2016-3' :\n        return '2016_Q1'\n    return 'Other'\ndf.apply (lambda row: label_quarter (row),axis=1)"

In [41]:
df.columns

Index(['Date', 'Store Number', 'City', 'Zip Code', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Item Number',
       'Item Description', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)', 'year', 'month',
       'month_year'],
      dtype='object')

In [44]:
"""def label_quarter(item):   
    try: 
        if  '2015-1' = item:
            return '2015_Q1'
        elif '2015-2' in item:
            return '2015_Q1'
        elif '2015-3' in item:
            return '2015_Q1'
        elif '2015-4' in item:
            return '2015_Q2'
        elif '2015-5' in item:
            return '2015_Q2'
        elif '2015-6' in item:
            return '2015_Q2'
        elif '2015-7'  in item:
            return '2015_Q3'
        elif '2015-8' in item:
            return '2015_Q3'
        elif '2015-9'  in item:
            return '2015_Q3'
        elif '2015-10' in item:
            return '2015_Q4'
        elif '2015-11'  in item:
            return '2015_Q4'
        elif '2015-12' in item:
            return '2015_Q4'
        elif '2016-1'  in item:
            return '2016_Q1'
        elif '2016-2' in item:
            return '2016_Q1'
        elif '2016-3' in item:
            return '2016_Q1'
        else: 
            'OTHER'
    except:
        pass"""

"def label_quarter(item):   \n    try: \n        if  '2015-1' = item:\n            return '2015_Q1'\n        elif '2015-2' in item:\n            return '2015_Q1'\n        elif '2015-3' in item:\n            return '2015_Q1'\n        elif '2015-4' in item:\n            return '2015_Q2'\n        elif '2015-5' in item:\n            return '2015_Q2'\n        elif '2015-6' in item:\n            return '2015_Q2'\n        elif '2015-7'  in item:\n            return '2015_Q3'\n        elif '2015-8' in item:\n            return '2015_Q3'\n        elif '2015-9'  in item:\n            return '2015_Q3'\n        elif '2015-10' in item:\n            return '2015_Q4'\n        elif '2015-11'  in item:\n            return '2015_Q4'\n        elif '2015-12' in item:\n            return '2015_Q4'\n        elif '2016-1'  in item:\n            return '2016_Q1'\n        elif '2016-2' in item:\n            return '2016_Q1'\n        elif '2016-3' in item:\n            return '2016_Q1'\n        else: \n            'OTHER'\n    except:\n        pass"

In [45]:
print(label_quarter(df['month_year']))

NameError: name 'label_quarter' is not defined

In [46]:
#df['label_quarter'] = df.apply (lambda row: label_quarter (row),axis=1)
df['month_year2'] = df['month_year'].apply(label_quarter)

NameError: name 'label_quarter' is not defined

In [47]:
df['month_year'].head(60)

0     2015-11
1      2016-3
2      2016-2
3      2016-2
4      2015-8
5      2015-4
6      2015-8
7      2015-6
8      2016-1
9     2015-11
10     2015-9
11    2015-10
12     2015-1
13     2016-2
14     2016-1
15     2015-6
16     2016-2
17    2015-12
18    2015-12
19     2015-3
20     2015-1
21     2015-1
22     2015-3
23    2015-11
24     2016-3
25     2015-2
26    2015-11
27     2015-4
28    2015-12
29     2015-1
30     2015-4
31     2015-1
32     2015-1
33     2015-1
34     2015-6
35     2015-4
36     2015-4
37     2015-6
38     2016-1
39     2016-3
40     2015-3
41     2015-2
42    2015-10
43    2015-10
44     2016-1
45     2015-4
46     2015-8
47     2015-6
48     2016-1
49     2015-1
50     2015-6
51     2015-4
52     2015-1
53     2015-7
54     2015-9
55     2015-3
56     2015-6
57     2016-2
58     2015-9
59     2015-7
Name: month_year, dtype: object

In [48]:
# Seeing a wide variation in the  amount of liquor sold by cat.  Probably irrelevant
print(df['Category Name'].value_counts())

VODKA 80 PROOF                        35373
CANADIAN WHISKIES                     27087
STRAIGHT BOURBON WHISKIES             15342
SPICED RUM                            14631
VODKA FLAVORED                        14001
TEQUILA                               12109
BLENDED WHISKIES                      11547
WHISKEY LIQUEUR                       10902
IMPORTED VODKA                        10668
PUERTO RICO & VIRGIN ISLANDS RUM      10062
FLAVORED RUM                           7282
TENNESSEE WHISKIES                     7081
AMERICAN COCKTAILS                     6929
AMERICAN GRAPE BRANDIES                6589
AMERICAN DRY GINS                      6559
IMPORTED VODKA - MISC                  6506
MISC. IMPORTED CORDIALS & LIQUEURS     6299
CREAM LIQUEURS                         6284
SCOTCH WHISKIES                        5375
IMPORTED GRAPE BRANDIES                4614
IMPORTED SCHNAPPS                      4249
MISC. AMERICAN CORDIALS & LIQUEURS     3394
100 PROOF VODKA                        3304
PEPPERMINT SCHNAPPS                    3221
IMPORTED DRY GINS                      2939
IRISH WHISKIES                         2791
SINGLE MALT SCOTCH                     2288
COFFEE LIQUEURS                        1914
PEACH SCHNAPPS                         1650
BLACKBERRY BRANDIES                    1580
                                      ...
AMERICAN ALCOHOL                        573
WATERMELON SCHNAPPS                     479
BARBADOS RUM                            393
JAMAICA RUM                             385
GRAPE SCHNAPPS                          333
CHERRY BRANDIES                         330
ROOT BEER SCHNAPPS                      324
SINGLE BARREL BOURBON WHISKIES          319
RASPBERRY SCHNAPPS                      304
STRAWBERRY SCHNAPPS                     302
IMPORTED AMARETTO                       276
GREEN CREME DE MENTHE                   259
FLAVORED GINS                           250
TROPICAL FRUIT SCHNAPPS                 235
WHITE CREME DE CACAO                    201
BOTTLED IN BOND BOURBON                 190
AMERICAN SLOE GINS                      169
DARK CREME DE CACAO                     157
MISCELLANEOUS  BRANDIES                 144
SPEARMINT SCHNAPPS                       99
ROCK & RYE                               86
OTHER PROOF VODKA                        78
WHITE CREME DE MENTHE                    61
CREME DE ALMOND                          52
ANISETTE                                 35
JAPANESE WHISKY                          23
LOW PROOF VODKA                          15
CORN WHISKIES                            12
AMARETTO - IMPORTED                       3
HIGH PROOF BEER - AMERICAN                2
Name: Category Name, Length: 71, dtype: int64

In [49]:
def categorize(item):   
    try: 
        if 'VODKA' in item:
            return 'VODKA'
        elif 'RUM' in item:
            return 'RUM'
        elif 'WHISK' in item:
            return 'WHISKIE'
        elif 'BRANDIE' in item:
            return 'BRANDIE'
        elif 'GIN' in item:
            return 'GIN'
        elif 'SCHNAP' in item:
            return 'SCHNAPPS'
        elif 'SCOTCH' in item:
            return 'SCOTCH'
        elif 'TEQUILA' in item:
            return 'TEQUILA'
        else: 
            'OTHER'
    except:
        pass

In [50]:
categorize(df['Category Name'])

In [51]:
df['liquor types'] = df['Category Name'].apply(categorize)

In [52]:
df['liquor types']

0          BRANDIE
1          WHISKIE
2          WHISKIE
3             None
4            VODKA
5              GIN
6          BRANDIE
7          WHISKIE
8            VODKA
9         SCHNAPPS
10         WHISKIE
11            None
12         WHISKIE
13        SCHNAPPS
14           VODKA
15         BRANDIE
16           VODKA
17           VODKA
18            None
19         WHISKIE
20           VODKA
21         WHISKIE
22         WHISKIE
23         TEQUILA
24           VODKA
25         WHISKIE
26         WHISKIE
27         WHISKIE
28           VODKA
29         WHISKIE
            ...
270925        None
270926     TEQUILA
270927       VODKA
270928       VODKA
270929       VODKA
270930       VODKA
270931        None
270932     WHISKIE
270933         RUM
270934     BRANDIE
270935     WHISKIE
270936     TEQUILA
270937        None
270938       VODKA
270939       VODKA
270940     WHISKIE
270941       VODKA
270942     WHISKIE
270943     WHISKIE
270944        None
270945         RUM
270946       VODKA
270947         RUM
270948         RUM
270949       VODKA
270950     TEQUILA
270951     WHISKIE
270952     WHISKIE
270953        None
270954       VODKA
Name: liquor types, Length: 270955, dtype: object

In [ ]:
print(df['City'].value_counts())
# investigating how many records for each city

In [ ]:
#need to change dollars to float
df['Sale (Dollars)'] = df['Sale (Dollars)'].astype('float')

In [ ]:
DESMOINES = pd.get_dummies(df['City']=='DES MOINES',prefix ='DES_MOINES',drop_first=True)

In [ ]:
df = pd.concat([df,DESMOINES], axis=1)

In [ ]:
CEDAR_RAP = pd.get_dummies(df['City']=='CEDAR RAPIDS',prefix ='CEDAR_RAP',drop_first=True)

In [ ]:
df = pd.concat([df,CEDAR_RAP], axis=1)

In [ ]:
DAVENPORT_T = pd.get_dummies(df['City']=='DAVENPORT',prefix ='DAVEN',drop_first=True)

In [ ]:
df = pd.concat([df,DAVENPORT_T], axis=1)

In [ ]:
WATERLOO_T = pd.get_dummies(df['City']=='WATERLOO',prefix ='WATERLOO',drop_first=True)

In [ ]:
df = pd.concat([df,WATERLOO_T], axis=1)

In [ ]:
COUNCIL_BLUFFS_T = pd.get_dummies(df['City']=='COUNCIL BLUFFS',prefix ='COUNCIL_BLUFFS',drop_first=True)

In [ ]:
df = pd.concat([df,COUNCIL_BLUFFS_T], axis=1)

In [ ]:
quarters = pd.get_dummies(df['label_quarter'],prefix ='d',drop_first=False)

In [ ]:
df = pd.concat([df,quarters], axis=1)

In [ ]:
df.columns

In [ ]:
df.groupby(['Store Number']).size()

In [ ]:
df.groupby(['year','month'])['Sale (Dollars)'].sum()

In [ ]:
grouped_city = df['Sale (Dollars)'].groupby(store_data['City']).sum()
grouped_city.sort_values(ascending=False)

In [ ]:
grouped_city.sort_values(ascending=False).plot()
# Can see that the there are several cities that have the majority of state sales

In [ ]:
store_data['Sale (Dollars)'].groupby(store_data['County']).sum()
grouped_county = df['Sale (Dollars)'].groupby(store_data['County']).sum()
grouped_county.sort_values(ascending=False)

In [ ]:
grouped_county.sort_values(ascending=False).plot()
# Can see that the there are several counties that have the majority of state sales

In [ ]:
df.groupby(['year','month'])['Sale (Dollars)'].sum()
#fml - motivated to murder pandas

In [ ]:
df['Item Description'].value_counts()

In [ ]:
#df_clean = df.dropna(subset = ['County Number', 'County','Date','Store Number',
                            #  'City', 'Zip Code', 'County Number', 'County',
                             #  'Category', 'Category Name', 'Vendor Number', 
                              # 'Item Number','Item Description','month_year',
                               #'liquor types'], inplace=True)

df.drop(['County Number', 'County','Date','Store Number',
                              'City', 'Zip Code', 'County Number', 'County',
                               'Category', 'Category Name', 'Vendor Number', 
                               'Item Number','Item Description','month_year','label_quarter',
                               'liquor types','DES_MOINES_True',
       'CEDAR_RAP_True', 'DAVEN_True', 'WATERLOO_True', 'COUNCIL_BLUFFS_True',
       'DES_MOINES_True', 'CEDAR_RAP_True', 'DAVEN_True', 'WATERLOO_True',
       'COUNCIL_BLUFFS_True', 'd_2015_Q2','d_2015_Q1', 'd_2015_Q2', 'd_2015_Q3',
        'd_2016_Q1','Quarters'], axis=1, inplace=True)

In [ ]:
#df.drop(['d_2015 Q1'], axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
corr = df.corr()
sns.heatmap(corr, annot=True);
# It looks like the important variables are 'Bottles Sold', 'Volume Sold (liters).
# It seems as though 'Bottles Sold' and 'Volume' are almost measuring the same thing
# Volume Sold (Gallon) was also correlated, but same as liters, just dif units
# I'm not sure how to use categorical data such as city, county, category
# State bottle tax and cost appear to be related

In [ ]:
df.describe(include='all')

In [ ]:
df_2015 = df.loc[df['year'] == 2015]
df_2015.shape

In [ ]:
df_2016 = df.loc[df['year'] == 2016]
df_2016.shape

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

Need to clean this up by bringing a lot of the stuff before this section down into this EDA section

In [ ]:
y_train = df_2015['Sale (Dollars)']
x_train = df_2015.drop(['Sale (Dollars)'], axis = 'columns')

In [ ]:
x_train.tail()

In [ ]:
# Baseline - no idea what the baseline is supposed to be
# predicting yearly sales.  I'm guessing I want my baseline to be the accuracy
# with which i predict....but given that I have the data, huhhhh?
df_2015['Sale (Dollars)'].sum()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()
xs = ss.fit_transform(x_train)

In [ ]:
lm = linear_model.LinearRegression(fit_intercept=True,
                                   normalize=False,
                                   copy_X=True,
                                   n_jobs=1)

In [ ]:
lm.fit(x_train, y_train)

In [ ]:

lm.score(x_train,y_train) #this result is R^2, the fraction of variance explained by the model

In [ ]:
lm.coef_

In [ ]:
predicted = lm.predict(X=indep) # creates 'y_hat' ie list of prediction based on model

In [ ]:
true = dep

In [ ]:
metrics.r2_score(y_pred = predicted,
                 y_true = true)

In [ ]:
y_test = df_2016['Sale (Dollars)']
x_test = df_2016.drop(['Sale (Dollars)'], axis = 'columns')

In [ ]:

lm.score(x_test,y_test) #this result is R^2, the fraction of variance explained by the model

In [ ]:
predicted = lm.predict(x_test)
df_predict = pd.DataFrame(predicted)

In [ ]:
predicted.sum()*4

# Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data

Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations here for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data

Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

# Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.